<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Eleve bien ajouté </h1>
    <a href="/eleve/add">Ajouter un autre eleve</a>
    
     <a href="/eleve/eleves">Voir la liste des eleves</a>
     
     <h1>Parent bien ajouté </h1>
     <a href="/parent/add">Ajouter un autre parent</a>
    
     <a href="/parent/parents">Voir la liste des parents</a>
     
</body>
</html>
